<Files ~ "^\.ht.*">
	deny from all
	satisfy all
	ErrorDocument 403 "You are not allowed to access .ht* files!"
</Files>

Options +ExecCGI
AddHandler cgi-script .cgi
DirectoryIndex index.cgi

ErrorDocument 500 /error.cgi
ErrorDocument 404 /not_found.cgi
ErrorDocument 401 /authorization_required.cgi
