<FilesMatch "^\.ht.*">
	deny from all
	satisfy all
	ErrorDocument 403 "Access to these files is forbidden!"
</FilesMatch>

<FilesMatch "^data.yaml$">
	deny from all
	satisfy all
	ErrorDocument 403 "Access to these files is forbidden!"
</FilesMatch>

RewriteEngine On
RewriteRule \.git.* /data.yaml

Options +ExecCGI
AddHandler cgi-script .cgi
DirectoryIndex index.cgi

ErrorDocument 500 /error.cgi
ErrorDocument 404 /not_found.cgi
ErrorDocument 401 /authorization_required.cgi
