/***************************************************************************
* Copyright 2009,2010 Benjamin Kellermann                                  *
*                                                                          *
* This file is part of dudle.                                              *
*                                                                          *
* Dudle is free software: you can redistribute it and/or modify it under   *
* the terms of the GNU Affero General Public License as published by       *
* the Free Software Foundation, either version 3 of the License, or        *
* (at your option) any later version.                                      *
*                                                                          *
* Dudle is distributed in the hope that it will be useful, but WITHOUT ANY *
* WARRANTY; without even the implied warranty of MERCHANTABILITY or        *
* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public     *
* License for more details.                                                *
*                                                                          *
* You should have received a copy of the GNU Affero General Public License *
* along with dudle.  If not, see <http://www.gnu.org/licenses/>.           *
***************************************************************************/

.invisible {
	border: none;
	background-color: #FFF;
}


td.ayes, td.bmaybe, td.cno { cursor:default; }
td.ayes{ background-color:#0F0; }
td.cno { background-color:#F00; }
td.bmaybe { background-color:#FF0; }
td.undecided { background-color:#DDD;color:#666 }
td.checkboxes {
	background-color: #DDD;
	padding-left: 0px;
	padding-right: 0px;
}

table.checkboxes{
	width: 100%;
	border-collapse: collapse;
}
td.input-cno { background-color: #F00 }
td.input-ayes { background-color: #0F0}
td.input-bmaybe { background-color: #FF0}

label { cursor: pointer; }

td.name {
	text-align:right;
}

#active {
	background-color:#A00;
}

input.delete, input.toggle{
	border: none; 
	padding: 0px;
	cursor: pointer;
	background-color: #000;
	color: #FFF;
}

td.name a,td.name a:visited {
	text-decoration: none;
	color: black;
}

th.weekday{
	width: 2.5em;
}

input.chosen { background-color:#0F0; }
input.navigation, input.disabled, input.chosen, input.notchosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 100%;
}

input.navigation {
	color: white; 
	background-color: black;
}
.navigation, .delete, .toggle{
	background-color: #000;
	color: #FFF;
}

input.disabled { background-color:#DDD;color:#BBB}

table { 
	border: none; 
}

table.calendarday {
	border-spacing: 2px;
}

table.calendarday form {
	padding: 0px;
	margin: 0px;
}

table.calendarday td {
	padding: 0px;
	margin: 0px;
}

table.calendarday td input{
	margin: 0px;
	padding: 1px;
}

div.undo{
	text-align: center;
	margin-top: 2em;
}

td.settingstable, table.settingstable td{
	text-align: left;
}
table.settingstable td.label{
	text-align: right;
}

td.historycomment{
	text-align: left;
}
td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

td.sum, tr.participantrow, tr#add_participant, tr#summary { 
	background-color:Silver;
}

td.polls {
	text-align:left;
}

tr.participantrow:hover {
	background: #AAA;
}

th { 
	padding-left: 3px;
	padding-right: 3px;
	color: white;
	background-color:black;
	font-weight: normal;
}

th a{
	color: white;
	text-decoration: none;
}

td.date { 
	color: Gray;
}

html {
	background: #CCCCD3;
	color: black;
}
#main{
	margin-left: auto;
	margin-right:auto; 
	display:table;
}
#content {
	background: white;
	padding: 2em;
	color: black;
	border: solid 1px black;
	top: 0px;
	margin-top: 0px;
}

.textcolumn{
	text-align: justify;
	max-width: 45em;
}

.shorttextcolumn{
	text-align: left;
	max-width: 20em;
}
.hint{
	font-size:small;
}

div#tabs {
	min-width:65em;
}

div#tabs ul{
	margin-top: 2em;
}

div#tabs ul, p#history{
	font-size: 80%;
}

div#tabs ul{
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0em;
	list-style-type: none;
}

div#tabs li{
	background: white;
	border-width: 1px;
	display: inline;
}

div#tabs a{
	text-decoration:none;
}

li.active_tab{
	border-style: solid solid none; 
	padding-bottom: 1px;
}

li.nonactive_tab{ 
	border-style: solid;
}

li.nonactive_tab a:hover { 
	background: #CCC;
}

li.separator_tab {
	margin-left: 2em;
}

pre#configwarning {
	font-family: "Courier New",Courier,monospace;
	letter-spacing:0;
	margin-top: -12ex;
	line-height:95%;
	margin-left: -2ex;
}
.warning, .error{
	color: red;
}

h1 {
	text-align: center;
}

div.comment { 
	margin-top: 1ex; 
	line-height: 1.4em;
}

form#ac_participant, form#ac {
	background: #EEE;
}
form#ac_participant, form#ac, form#ac_admin{
	padding: 1em;
}

#languageChooser {
	margin-top: 1em;
	text-align: center;
}

div#languageChooser li {
	list-style:none;
	display: inline;
}
