/***************************************************************************
* Copyright 2009,2010 Benjamin Kellermann, Stefanie Pötzsch                *
*                                                                          *
* This file is part of dudle.                                              *
*                                                                          *
* Dudle is free software: you can redistribute it and/or modify it under   *
* the terms of the GNU Affero General Public License as published by       *
* the Free Software Foundation, either version 3 of the License, or        *
* (at your option) any later version.                                      *
*                                                                          *
* Dudle is distributed in the hope that it will be useful, but WITHOUT ANY *
* WARRANTY; without even the implied warranty of MERCHANTABILITY or        *
* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public     *
* License for more details.                                                *
*                                                                          *
* You should have received a copy of the GNU Affero General Public License *
* along with dudle.  If not, see <http://www.gnu.org/licenses/>.           *
***************************************************************************/

.invisible {
	border: none;
	background-color: #FFF;
}

a, a:visited {
color:#36c;
text-decoration:none;
}
	
a:hover, a:active {
	color:#36c;
	text-decoration:underline;
}

td.ayes, td.bmaybe, td.cno { cursor:default;}
td.ayes, tr.input-ayes td, input.chosen  { background-color:#9C6}
input.chosen:hover { background-color: #8B5 }
td.cno, tr.input-cno td { background-color:#F96 }
td.bmaybe, tr.input-bmaybe td { background-color:#FF6}
td.undecided { background-color:#DDD }

td.checkboxes {
	background-color: #FFF;
	padding-left: 0px;
	padding-right: 0px;
}

table.checkboxes{
	width: 100%;
	border-collapse: collapse;
	border:none;
}

label { cursor: pointer; }

td.name {
	text-align:right;
}

#active {
	background-color:#CCF;
}

input.delete, input.toggle{
	border: none; 
	cursor: pointer;
}

input.navigation, input.disabled, input.chosen, input.notchosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 100%;
}

input.navigation {
	border: none;
}
.navigation, .notchosen, .disabled, .delete, .toggle{
	background-color: #EEE;
}

.navigation:hover, .notchosen:hover, .disabled:hover, .delete:hover, .toggle:hover {
	background-color: #CCC;
}

input.disabled {
	color:#AAA
}

table { 
	border: none; 
}

table.calendarday {
	border-spacing: 2px;
}

div#AddRemoveColumndaysDescription{
	max-width: 15em; 
}

table.calendarday th, table.calendarday td{
	min-width: 2em;
}

table.calendarday td.navigation{
	min-width: 0em;
}

table.calendarday form {
	padding: 0px;
	margin: 0px;
}

table.calendarday td {
	padding: 0px;
	margin: 0px;
}

table.calendarday td.navigation{
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

table.calendarday td input{
	margin: 0px;
	padding: 1px;
}

table.calendarday th input.delete {
	padding: 0px;
}
table.calendarday td input.toggle {
	padding:0 0.5em 0 0.5em;
}

div.undo{
	text-align: center;
	margin-top: 2em;
}

td.settingstable, table.settingstable td{
	text-align: left;
}
table.settingstable td.label{
	text-align: right;
}
td.separator_top{
	border-top:solid thin;
	padding-top:0.7ex;
}
td.separator_bottom{
	padding-bottom:0.7ex;
}
tr#usernamesetting {
	height: 1.7em
}

td.historycomment{
	text-align: left;
}
td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
}

tr#add_participant{
	background: #EEE;
}

tr.participantrow:hover {
	background: #EEE;
}

tr.participantrow{ 
	background-color:#fff;
}
	
td.sum, tr#summary { 
	margin-top:5ex;
	background-color:#eee;
}
	
td.polls {
	text-align:left;
}

th { 
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #EEE;
	border:none;
}

td.date { 
	color:#ccc;
	text-align: left;
}

html {
	background: #EEE;
	font-family: Arial, Helvetica, sans-serif, serif, monospace, cursive, fantasy;
}
#main{
	margin-left: auto;
	margin-right:auto; 
	display:table;
}
#content {
	background: #fff;
	padding: 2em;
	color: #000;
	border: solid 1px #000;
	border-bottom: none;
	top: 0px;
	margin-top: 0px;
}
#wizzard_navigation{
	margin-left: 0;
	padding-left: 0;
	margin-top: 2ex;
}
#wizzard_navigation table, #wizzard_navigation table td{
	padding-left:0;
	border-spacing:0;
}

.textcolumn, .shorttextcolumn{
	line-height: 1.4em;
}

.textcolumn{
	text-align: justify;
	max-width: 45em;
}

.shorttextcolumn{
	text-align: left;
	max-width: 20em;
}
.hint{
	font-size: small;
	line-height: 1.4em;
}

#breadcrumbs {
	display: none;
}

div#tabs{
	font-size:80%;
	min-width:65em;
}

div#tabs ul{
	margin-top: 2em;
}

div#tabs ul{
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0em;
	list-style: none;
}

div#tabs li{
	background: white;
	border-width: 1px;
	display: inline;
}

div#tabs a{
	text-decoration:none;
}

li.active_tab{
	border-style: solid solid none; 
	padding-bottom: 1px;
}

li.nonactive_tab{ 
	border-style: solid;
	border-color:#CCC;
	border-bottom:none;
}

li.nonactive_tab a:hover { 
	background: #EEE;
}

li.separator_tab {
	margin-left: 2em;
}

pre#configwarning {
	font-family: "Courier New",Courier,monospace;
	letter-spacing:0;
	margin-top: -12ex;
	line-height:95%;
	margin-left: -2ex;
}

.warning, .error{
	color: red;
	text-align: left;
}

h1{
	text-align:center;
}

h3{
	margin-bottom: 0.1em;
}

.comment {
	margin-top: 1.5em;
}


form#ac_participant, form#ac {
	background: #EEE;
}
form#ac_participant, form#ac, form#ac_admin{
	padding: 1em;
}

div#languageChooser{
	background: #fff;
	padding: 2em;
	color: #000;
	border: solid 1px #000;
	border-top: none;
	text-align: center;
}

div#languageChooser li {
	list-style:none;
	display: inline;
}

