/********************************
 * Author:  Benjamin Kellermann *
 * License: CC-by-sa 3.0        *
 *          see License         *
 *******************************/


td.ayes, td.bmaybe, td.cno { cursor:default; }
td.ayes, input.choosen  { background-color:#0F0; }
td.cno { background-color:#F00; }
td.bmaybe { background-color:#FF0; }
td.undecided { background-color:#DDD;color:#666 }
td.checkboxes {
	background-color: #DDD;
	padding-left: 0px;
	padding-right: 0px;
}
table.checkboxes{
	width: 100%;
	border-collapse: collapse;
}
td.input-cno { background-color: #F00 }
td.input-ayes { background-color: #0F0}
td.input-bmaybe { background-color: #FF0}

label { cursor: pointer; }

td.name {
	text-align:right;
}

#active, #activedeletebutton{
	background-color:#A00;
}

span.edituser a{ text-decoration: none }

th.weekday{
	width: 2.5em;
}

input.navigation, input.disabled, input.choosen, input.notchoosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

input.navigation {
	color: white; 
	background-color: black;
}

input.disabled { background-color:#DDD;color:#BBB}

td.calendarday{
	border: 1px; 
	padding: 0px;
	margin: 0px;
}

table { 
	border: none; 
}

td.create_poll{
	text-align:left;
}

td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

td.sum, tr.participantrow, tr#add_participant, tr#summary { 
	background-color:Silver;
}

td.polls {
	text-align:left;
}

tr.participantrow:hover {
	background: #AAA;
}

th { 
	padding-left: 3px;
	padding-right: 3px;
	color: white;
	background-color:black;
	font-weight: normal;
}

th a{
	color: white;
	text-decoration: none;
}

td.date { 
	color: Gray;
}

html {
	background: #CCCCD3;
	color: black;
}

#main {
	background: white;
	padding: 2em;
	color: black;
	line-height: 1.5em;
	border: solid 1px black;
	top: 0px;
	margin-top: 0px;
}

body#main, div#tabs ul{
	margin-top: 2em;
}

div#tabs ul, p#history{
	font-size: 80%;
}

div#tabs ul{
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0em;
	list-style-type: none;
}

div#tabs li{
	background: white;
	border-width: 1px;
	display: inline;
}

div#tabs a{
	text-decoration:none;
}

li#active_tab{
	border-style: solid solid none; 
	padding-bottom: 1px;
}

li.nonactive_tab{ 
	border-style: solid;
}

li.nonactive_tab a:hover { 
	background: #CCC;
}

pre#configwarning {
	font-family: "Courier New",Courier,monospace;
	letter-spacing:0;
	margin-top: -12ex;
	line-height:95%;
	margin-left: -2ex;
}

h1 {
	text-align: center;
}

div.comment { margin-top: 1ex; }

div#config{
	float: right;
	margin-left:20px;
	width:20ex;
}

