/********************************
 * Author:  Benjamin Kellermann *
 * License: CC-by-sa 3.0        *
 *          see License         *
 *******************************/


td.ayes, td.bmaybe, td.cno { cursor:default; }
label { cursor: pointer; }
td.ayes, input.choosen  { background-color:#0F0; }
td.cno { background-color:#F00; }
td.bmaybe { background-color:#FF0; }
td.undecided { background-color:#DDD;color:#666 }
td.name {
	text-align:right;
}
#active, #activedeletebutton{
	background-color:#A00;
}
input.deletebutton{
	border-width: 0px; 
	border-style: solid;
	padding: 0px;
	cursor: pointer;
	background-color: black;
	color: white;
}
th.weekday{
	width: 2.5em;
}
input.navigation, input.disabled, input.choosen, input.notchoosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 100%;
	height: 100%;
/*	width: 3.5em;
	height: 3.5ex;*/
}
input.navigation {
	color: white; 
	background-color: black;
}
input.disabled { background-color:#DDD;color:#BBB}
td.calendarday{
	border: 1px; 
	padding: 0px;
	margin: 0px;
}
table { 
	border: none; 
}
td.create_poll{
	text-align:left;
}
td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding: 1px 3px;
}
td.sum, tr.participantrow, tr#add_participant, tr#summary { 
	background-color:Silver;
}
td.polls {
	text-align:left;
}
tr.participantrow:hover {
	background: #AAA;
}
th { 
	padding: 1px 3px;
	color: white;
	background-color:black;
	font-weight: normal;
}
th a{
	color: white;
	text-decoration: none;
}
td.date { 
	color: Gray;
	text-align: left;
}
html {
	background: #CCCCD3;
	color: black;
}
body {
	background: white;
	margin: 3ex auto;
	width: 90%;
	padding: 2em;
	color: black;
	line-height: 1.5em;
	border: solid 1px black;
}
h1 {
	text-align: center;
}

