/********************************
 * Author:  Benjamin Kellermann *
 * Licence: CC-by-sa 3.0        *
 *          see Licence         *
 *******************************/

td.ayes, input.choosen  { background-color:#0F0; }
td.cno { background-color:#F00; }
td.bmaybe { background-color:#FF0; }
td.undecided { background-color:#DDD;color:#666 }
td.name {
	text-align:right;
}
td#active{
	background-color:#A00;
}
input.historynavi{
	border-width: 0px; 
	border-style: none;
	padding: 0px;
	cursor: pointer;
	background-color: white;
	color: blue;
}
input.navigation, input.disabled, input.choosen, input.notchoosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 3.5em;
	height: 3.5ex;
}
input.navigation {
	color: white; 
	background-color: black;
}
input.disabled { background-color:#DDD;color:#BBB}
td.calendarday{
	border: 1px; 
	padding: 0px;
	margin: 0px;
}
table { 
	border: none; 
}
td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding: 1px 3px;
}
td.sum, td.date, td.name, td.checkboxes { 
	background-color:Silver;
}
th { 
	padding: 1px 3px;
	color: white;
	background-color:black;
	font-weight: normal;
}
th a{
	color: white;
	text-decoration: none;
}
td.date { 
	color: Gray;
	text-align: left;
}
html {
	background: #CCCCD3;
	color: black;
}
body {
	background: white;
	margin: 3ex auto;
	width: 90%;
	padding: 2em;
	color: black;
	line-height: 1.5em;
	border: solid 1px black;
}
h1 {
	text-align: center;
}

