/********************************
 * Author:  Benjamin Kellermann *
 * Licence: CC-by-sa 3.0        *
 *          see Licence         *
 *******************************/

td.yes, input.choosen  { background-color:#0F0; }
td.no { background-color:#F00; }
td.maybe { background-color:#FF0; }
td.undecided { background-color:#DDD;color:#666 }
td.name {
	text-align:right;
}
input.navigation, input.disabled, input.choosen, input.notchoosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 3.5em;
	height: 3.5ex;
}
input.navigation {
	color: white; 
	background-color: black;
}
input.disabled { background-color:#DDD;color:#BBB}
td.calendarday{
	border: 1px; 
	padding: 0px;
	margin: 0px;
}
table { 
	border: none; 
}
td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding: 1px 3px;
}
td.sum, td.date, td.name, td.checkboxes { 
	background-color:Silver;
}
div#add_comment,div#add_remove_column, div#invite_delete, div#history, div#backlink, input.delete_comment_button, tr#add_participant, div#configlink{
	visibility: collapse;
}
th { 
	padding: 1px 3px;
	color: white;
	background-color:black;
	font-weight: normal;
}
th a{
	color: white;
	text-decoration: none;
}
td.date { 
	color: Gray;
	text-align: left;
}
h1 {
	text-align: center;
}
