/***************************************************************************
* Copyright 2009,2010 Benjamin Kellermann                                  *
*                                                                          *
* This file is part of dudle.                                              *
*                                                                          *
* Dudle is free software: you can redistribute it and/or modify it under   *
* the terms of the GNU Affero General Public License as published by       *
* the Free Software Foundation, either version 3 of the License, or        *
* (at your option) any later version.                                      *
*                                                                          *
* Dudle is distributed in the hope that it will be useful, but WITHOUT ANY *
* WARRANTY; without even the implied warranty of MERCHANTABILITY or        *
* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public     *
* License for more details.                                                *
*                                                                          *
* You should have received a copy of the GNU Affero General Public License *
* along with dudle.  If not, see <http://www.gnu.org/licenses/>.           *
***************************************************************************/

@page {
	size: landscape;
}

.invisible {
	visibility: hidden;
}
tr#summary td.sum{
	color: inherit !important;
	background-color: inherit !important;
}
tr#summary td.sum[title='100%']{
	background-color: #9c6 !important;
}
tr#summary td.sum[title|='99%'],
tr#summary td.sum[title|='98%'],
tr#summary td.sum[title|='97%'],
tr#summary td.sum[title|='96%'],
tr#summary td.sum[title|='95%'],
tr#summary td.sum[title|='94%'],
tr#summary td.sum[title|='93%'],
tr#summary td.sum[title|='92%'],
tr#summary td.sum[title|='91%'],
tr#summary td.sum[title|='90%']{
	background-color: #add666 !important;
}
tr#summary td.sum[title|='89%'],
tr#summary td.sum[title|='88%'],
tr#summary td.sum[title|='87%'],
tr#summary td.sum[title|='86%'],
tr#summary td.sum[title|='85%'],
tr#summary td.sum[title|='84%'],
tr#summary td.sum[title|='83%'],
tr#summary td.sum[title|='82%'],
tr#summary td.sum[title|='81%'],
tr#summary td.sum[title|='80%']{
	background-color: #c1e066 !important;
}
tr#summary td.sum[title|='79%'],
tr#summary td.sum[title|='78%'],
tr#summary td.sum[title|='77%'],
tr#summary td.sum[title|='76%'],
tr#summary td.sum[title|='75%'],
tr#summary td.sum[title|='74%'],
tr#summary td.sum[title|='73%'],
tr#summary td.sum[title|='72%'],
tr#summary td.sum[title|='71%'],
tr#summary td.sum[title|='70%']{
	background-color: #d6ea66 !important;
}
tr#summary td.sum[title|='69%'], 
tr#summary td.sum[title|='68%'], 
tr#summary td.sum[title|='67%'], 
tr#summary td.sum[title|='66%'], 
tr#summary td.sum[title|='65%'], 
tr#summary td.sum[title|='64%'], 
tr#summary td.sum[title|='63%'], 
tr#summary td.sum[title|='62%'], 
tr#summary td.sum[title|='61%'], 
tr#summary td.sum[title|='60%']{
	background-color: #eaf466 !important;
}
tr#summary td.sum[title|='59%'],
tr#summary td.sum[title|='58%'],
tr#summary td.sum[title|='57%'],
tr#summary td.sum[title|='56%'],
tr#summary td.sum[title|='55%'],
tr#summary td.sum[title|='54%'],
tr#summary td.sum[title|='53%'],
tr#summary td.sum[title|='52%'],
tr#summary td.sum[title|='51%'],
tr#summary td.sum[title|='50%']{
	background-color: #FF6 !important;
}
tr#summary td.sum[title|='49%'],
tr#summary td.sum[title|='48%'],
tr#summary td.sum[title|='47%'],
tr#summary td.sum[title|='46%'],
tr#summary td.sum[title|='45%'],
tr#summary td.sum[title|='44%'],
tr#summary td.sum[title|='43%'],
tr#summary td.sum[title|='42%'],
tr#summary td.sum[title|='41%'],
tr#summary td.sum[title|='40%']{
	background-color: #FFea66 !important;
}
tr#summary td.sum[title|='39%'],
tr#summary td.sum[title|='38%'],
tr#summary td.sum[title|='37%'],
tr#summary td.sum[title|='36%'],
tr#summary td.sum[title|='35%'],
tr#summary td.sum[title|='34%'],
tr#summary td.sum[title|='33%'],
tr#summary td.sum[title|='32%'],
tr#summary td.sum[title|='31%'],
tr#summary td.sum[title|='30%']{
	background-color: #FFd666 !important;
}
tr#summary td.sum[title|='29%'],
tr#summary td.sum[title|='28%'],
tr#summary td.sum[title|='27%'],
tr#summary td.sum[title|='25%'],
tr#summary td.sum[title|='25'],
tr#summary td.sum[title|='24%'],
tr#summary td.sum[title|='23%'],
tr#summary td.sum[title|='22%'],
tr#summary td.sum[title|='21%'],
tr#summary td.sum[title|='20%']{
	background-color: #FFc166 !important;
}
tr#summary td.sum[title|='19%'],
tr#summary td.sum[title|='18'],
tr#summary td.sum[title|='17%'],
tr#summary td.sum[title|='16%'],
tr#summary td.sum[title|='15%'],
tr#summary td.sum[title|='14%'],
tr#summary td.sum[title|='13%'],
tr#summary td.sum[title|='12%'],
tr#summary td.sum[title|='11%'],
tr#summary td.sum[title|='10%']{
	background-color: #FFad66 !important;
}
tr#summary td.sum[title|='9%'],
tr#summary td.sum[title|='8%'],
tr#summary td.sum[title|='7%'],
tr#summary td.sum[title|='6%'],
tr#summary td.sum[title|='5%'],
tr#summary td.sum[title|='4%'],
tr#summary td.sum[title|='3%'],
tr#summary td.sum[title|='2%'],
tr#summary td.sum[title|='1%'],
tr#summary td.sum[title|='0%']{
	background-color: #F96 !important;
}


td.a_yes__, input.chosen  { background-color:#9c6; }
td.c_no___ { background-color:#F96; }
td.b_maybe { background-color:#FF6; }
td.undecided { background-color:#DDD;color:#666 }

td.name {
	text-align:right;
}

td.name a,td.name a:visited {
	text-decoration: none;
	color: black;
}

#active {
	background-color:#A00;
}

th.weekday{
	width: 2.5em;
}

input.navigation, input.disabled, input.chosen, input.notchosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	width: 100%;
	height: 100%;
}

input.navigation {
	color: white; 
	background-color: black;
}

input.disabled { background-color:#DDD;color:#BBB}
td.calendarday{
	border: 1px; 
	padding: 0px;
	margin: 0px;
}

table { 
	border: none; 
	border-spacing: 0;
}

td.create_poll{
	text-align:left;
}

td {
	vertical-align:middle;
	text-align:center;
	padding: 1px 3px;
	border-width: 0 1px 1px 1px;
	border-style: dotted;
}

td.polls {
	text-align:left;
}

tr.participantrow:hover {
	background: #AAA;
}

div#add_comment,div#edit_column, div#history, div#backlink, input.delete_comment_button, tr#add_participant, div#configlink, div#tabs, p#history, span.edituser, span.sortsymb, div#languageChooser, input[type=submit], div#breadcrumbs, a.comment_sort, a.top_bottom_ref {
	display: none;
}

th { 
	padding: 1px 3px;
	font-weight: normal;
	border-width: 0 1px 1px 1px;
	border-style: dotted;
}

th a{
	text-decoration: none;
	color: black;
}

td.date { 
	text-align: left;
}


pre#configwarning {
	font-family:"Courier New",Courier,monospace;
	letter-spacing:0;
	margin-top: -12ex;
	line-height:95%;
	margin-left: -2ex;
}


h1 {
	text-align: center;
}


div.comment { margin-top: 1ex; }
